# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env_transformer_model/
.env/

# Model checkpoints
checkpoints/*.pt
checkpoints/*.bin
checkpoints/*.pth
checkpoints/

# Generated samples
checkpoints/sample.txt

# Dataset
data/*.txt
data/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
*.tar